/* Desktop: menu inline */
@media (min-width: 992px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    --display: flex;
    background-color: #fff700;
    flex-direction: row;
    gap: 15px;
    padding: 1px 10px;
    border-radius: 20px;
  }
  .menu-list {
    display: flex;
    gap: 15px;
  }
  .hamburger {
    display: none;
  }
  .menu-list-items a {
    background: none;
    color: #000;
    font-size: 20px;
    padding: 0 5px;
  }
}

/* Mobile & tablet: off-canvas menu */
@media (max-width: 991px) {
 .menu {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 200px;
    height: 100%;
    background: transparent;
    padding: 50px 20px;
    flex-direction: column;
    gap: 20px;
    transition: right 0.3s ease-in-out;
  }
  .menu.active {
    display: flex;
    right: 0; 
  }
  .menu-list-items a {
    color: yellow;
    background: black;
  }
  .hamburger {
    display: block;
  }
  /* Overlay when mobile menu is opened */
  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 1050;
  }
  .menu-overlay.active {
    display: block;
  }
  body.no-scroll {
    overflow: hidden;
  }
  .contact-details .greet-heading {
      color: #000;
  }
}

@media (max-width: 768px) {
  .my-col {
    flex: 1 1 50%; 
    max-width: 80%;
  }
  .contact-details .greet-heading {
    color: #4907e1;
    text-align: center;
  }
  .hero-image-container{ 
  width: 50%;
  }
}

@media (max-width: 600px) {
  .greet-heading,
  .my-heading,
  .sub-heading {
    font-size: 2rem;
    text-align: center;
  }
}
